@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  /* Ubicación de la imagen */

  background-image: url("../img/fondo.jpg");

  /* Para dejar la imagen de fondo centrada, vertical y

    horizontalmente */

  background-position: center center;

  /* Para que la imagen de fondo no se repita */

  background-repeat: no-repeat;

  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

  background-attachment: fixed;

  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

  background-size: cover;

  /* Se muestra un color de fondo mientras se está cargando la imagen

    de fondo o si hay problemas para cargarla */

  background-color: #6c912d;
  display: flex;
  min-height: 100vh;
}

.img {
  width: auto;
  height: 35px;
  display: block;
  margin: auto;
  margin-top: 20px;
}

/* Configuracion del tamaño, color, dimenciones del Form login */
form {
  margin: auto;
  max-width: 50%; /* Maximo tamaño que va a tener en cualquier dispositivo se va aumentar el porcentaje dependiendo de que dispositivo se vea*/
  padding: 45px 55px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #0000009c;
  height: 496px;
  width: 430px;
  left: 460px;
  top: 207px;
  border-radius: 30px;
}
/* Tamaño del form de registro (Se lo agranda para q entren los demas items que se necesitan en el registro) */
.form-registro {
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 740px;
}

/* Configuracion de los Imputs del form */

input {
  display: block;
  padding: 8px;
  width: 100%;
  margin: 8px 0;
  font-size: 14px;
  background-color: #c4c4c459;
  border-radius: 7px;
  color: #e2e2e2;
}

/* Separacion que va a tener el primer input del logo */

.input1 {
  padding-top: 50px;
}

/* Separacion del input numero 2 al primero */

.input2 {
  padding-top: 10px;
}

/* Color q va a tener el font que va a tener el placeholder de los inputs */
::placeholder {
  color: #b6b6b6;
}

/* Configuracion del boton submit */
input[type="submit"] {
  background-color: #6c912d; /* Color del fondo del boton */
  border: 0;
  color: #ffffff; /* Color de la fuente del boton */
  opacity: 0.8; /* se le pone una transparencia al color */
  cursor: pointer; /* Va aparecer una manito cuando se le pasa el mouse por encima */
  border-radius: 20px; /* saca las puntas de los bordes */
  margin-bottom: 0;
  font-weight: bold;
  padding: 10px;
}

input[type="submit"]:hover {
  /* Hover es una clase q se usa para darle un efecto o configurarle algo cuando se le pasa el mouse por encima solo en ese estado */
  opacity: 1; /* se hace mas oscuro cuando se pasa el mouse por encima del boton */
}

input[type="submit"]:active {
  /* Active es una clase q se usa para darle un efecto o configuracion cuando se clickea el boton por eso Active */
  transform: scale(0.95); /* se redusca el tamaño cuando se hace click */
}

@media (max-width: 768px) {
  /* Cuando esta en ese tamaño se agranda el tamaño del login un 25% mas de lo normal */
  form {
    width: 75%;
  }
}
@media (max-width: 480px) {
  /* Cuando esta en ese tamaño se agranda el tamaño del login un 45% mas de lo normal */
  form {
    width: 95%;
  }
}
h3 {
  color: #c8c8c8; /* Color de todos los h3 del sitio */
}
.registro {
  /* Configuracion del boton de registro <div class="registro2">
            <h3>Ya tengo cuenta <a href="login.html" class="registro">Ingrese aqui!</a></h3>
             </div>   */
  margin-top: 10px;
  text-align: center;
  color: #e2e2e2;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 20px;
}

.registro a {
  color: #6c912d;
  font-size: 13px;
  font-weight: bold;
}

/* Configuracion de la separacion de los botones registro y ingresar del form */

.botones {
  padding-top: 20px;
}

.label {
  color: #e2e2e2; /* Color de todos los h3 del sitio */
  font-weight: normal;
  font-size: 14px;
}
