/* Plantas.html css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* Configuracion del header del sitio */

.header nav ul li a{
  color: #6c912d  !important;
  transition: all 0.4s linear; 
  border-radius: 4px; 
  

}

.header li{
  margin: 0 5px 0 5px;
}

.header ul li a:hover{
  background: hsla(82, 53%, 37%, 0.7);
  color: white !important;
}


.header {
    width: 100%; 
    height: 200px;
    margin-top: 0px; 
  
  
    background-image: url("../img/fondo.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  

.navbar{
    border-radius: 25px;
    margin-top: 25px;
}

.titulo {
  width: 96%;

  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;

  margin-top: 3rem;
  margin-left: 3.5rem;
}

/* Configuracion del main del sitio */

.main {
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
  }

/* Configuracion del body del sitio */

body {
    width: 100%;
  
    font-family: "Roboto", sans-serif;
    text-align: left;
    line-height: 1.6em;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    overflow-x: hidden;
  

  }


/* Configuracion del footer del sitio */

  .footer{
    height: 70px;
    width: 100%;
  
    background: #221611;
  
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: rgb(226, 226, 226);
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* Galeria de imagenes */

  #galeria img{
      width: 100%;
  }
  #galeria .col-lg-4{
      margin: 0 !important;
      padding: 25px;
  }
  #galeria img:hover {
      border: 5px solid #f7f7f7;
  }

.container30{
  height: 800px;
  background-color: white;
}


/* CONFIGURACIONES DEL FORM Y LA CAJA DEL FORM */

.abs-center{
  margin-top: 50px;
  padding: 45px 55px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #545454 !important;
  height: 650px;
  width: 400px;
  left: 460px;
  top: 207px;
  border-radius: 30px;
}

.form-gruop{
  height: 50px;
  width: 250px;
}


.form-control3{
  height: 500px;
  width: 285px;
  border-radius: 7px;
  background-color: rgba(196, 196, 196, 0.35) !important;
}

.form-img{
  width: 300px;
  height: auto;
  margin-bottom: 15px;
}

::placeholder {
 color: #FFFFFF !important;
}

.botones {
  padding-top: 40px;
  color: #813333;
}

textarea {
  resize: none;
}

input {
  display: block;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  background-color: #6c912d !important;
  border-radius: 7px;
  color:  #FFFFFF;
}

input[type="submit"] {
  background-color: #6c912d !important; /* Color del fondo del boton */
  border: 0;
  color: #ffffff; /* Color de la fuente del boton */
  opacity: 0.8; /* se le pone una transparencia al color */
  cursor: pointer; /* Va aparecer una manito cuando se le pasa el mouse por encima */
  border-radius: 20px; /* saca las puntas de los bordes */
  margin-bottom: 0;
  font-weight: bold;
  padding: 10px;
}

input[type="submit"]:hover {
  /* Hover es una clase q se usa para darle un efecto o configurarle algo cuando se le pasa el mouse por encima solo en ese estado */
  opacity: 1; /* se hace mas oscuro cuando se pasa el mouse por encima del boton */
}

input[type="submit"]:active {
  /* Active es una clase q se usa para darle un efecto o configuracion cuando se clickea el boton por eso Active */
  transform: scale(0.95); /* se redusca el tamaño cuando se hace click */
}


.label {
  color: #e2e2e2; /* Color de todos los h3 del sitio */
  font-weight: normal;
  font-size: 16px;
}