<div  class="container" >
<div class="row">
<div class="col">
         
            
         
<h3>¿Qué formas de pago puedo aprovechar para realizar mi compra?</h3>

Disponemos de los siguientes medios de pago: Mercado Pago - Transferencia Bancaria - Deposito

<h3>¿Cuál es el costo de envío?</h3>

El costo de envío será mostrado en base al total de la compra y ubicación, en el checkout, en el momento previo a la compra.

Si tu zona no figura por favor consultar antes de realizar la compra.

<h3>¿Dónde puedo recibir mi pedido?</h3>

Realizamos envíos a todo el país.

<h3>¿Cuánto tarda en llegar el pedido?</h3>

Las entregas pueden demorar entre 10 a 15 días. Si tu pedido esta listo antes te vamos a contactar para avisarte.



</div>