<div class="boostrap-wrapper vevo">
  <div class="cointainer">
    <div class="col-md-6 offset-md-3" >



      <h1>¿Qué formas de pago puedo aprovechar para realizar mi compra?</h1>

       <h2>Disponemos de los siguientes medios de pago: Mercado Pago - Transferencia Bancaria - Deposito</h2>

      <h1>¿Cuál es el costo de envío?</h1>

      <h2>El costo de envío será mostrado en base al total de la compra y ubicación, en el checkout, en el momento previo a la compra.

        Si tu zona no figura por favor consultar antes de realizar la compra.</h2>

      <h1>¿Dónde puedo recibir mi pedido?</h1>

      <h2>Realizamos envíos a todo el país.</h2>

      <h1>¿Cuánto tarda en llegar el pedido?</h1>

      <h2>Las entregas pueden demorar entre 10 a 15 días. Si tu pedido esta listo antes te vamos a contactar para avisarte.
      </h2>

      </div>
  </div>
</div>

