<div class="container">
  <div class="d-flex justify-content-start">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12">
          <h2>¿Que podes hacer dentro de &lt;DEVPLANT&gt;?</h2>
        </div>



        <div class="col-12 col-md-12 col-sm-12">
          <p>
          Una vez que te registres como usuario, vas a poder comprar, informarte sobre los cuidados de tus plantas,
          registrarlas para poder recibir notificaciones que te van a recordar regarlas, fertilizarlas y podarlas.
          Navegá en esta web y enterate de todo lo que necesitan tus plantas!
        </p>
        </div>
        <div class="col-12 col-md-12 col-sm-12">
          <h5>Conocé más sobre tus plantas</h5>
        </div>
    </div>
  </div>
  <!--<section id="galeria" class="container2">
    <div class="row">

      <div class="col-lg-4 col-md-12 col-sm-12">
        <img
          src="img/planta1.jpg"
          id="planta1"
          alt="planta1"
          onmouseover="cambiarImagen1()"
          onmouseout="volverImagen1()"
        />
            <a href="https://www.youtube.com/watch?v=WW6iMP4WgL4" target="_blank">Anglaonema: Cuidados.</a>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <img
          src="img/planta2.jpg"
          id="planta2"
          alt="planta2"
          onmouseover="cambiarImagen2()"
          onmouseout="volverImagen2()"
        />
            <a href="http://www.youtube.com/watch?v=_eN6DcegGWM" target="_blank">Monastera Deliciosa: Cuidados.</a>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <img
          src="img/planta3.jpg"
          id="planta3"
          alt="planta3"
          onmouseover="cambiarImagen3()"
          onmouseout="volverImagen3()"
        />
            <a href="https://www.youtube.com/watch?v=RBpLx5K_BTU" target="_blank">Heleche Asplenium: Cuidados.</a>
      </div>
    </div>
  </section> -->

</div>

