  <!--  1- poner mas imágenes y que cambien por otra cuando pasa el mouse -->
  <!--  2- acomodar las imagenes para que queden ajustadas a la tarjeta -->
  <!--  3- arreglar los botones de comprar y que se carguen al carrito  -->
  <!--  4- arreglar los botones de guardar en fav y que se guarden en narnia  -->
  <!--  5- poner la descripción  a las fotos, o un desplegable -->
  <!--  6- Acomodar la tabla de carrito de compra en algun lugar mejor y los botones comprar de cada producto deberian plasmarse en esa tabla y el la pagina de carrito -->




  <div class="container">


    <div class="row">


      <h2 class="titulo"><img src="../../../assets/plantaicono.png" style="width: 100px;" /> Productos disponibles</h2>

      <div class="columnas col-lg-4 mb-4" *ngFor="let producto of productos" >
        <div class="card "  >

          <img
            src="https://m.media-amazon.com/images/I/71KWSTibf5L._AC_SL1500_.jpg"
            class="img"
            alt="palo de agua"
          />
          <div class="card-body"  >
            <h1 class="card-title text-center">Producto</h1>
            <h2 class="text-center"> {{producto.nombre}} </h2>

            <h2 class="card-title text-center">Precio: ${{producto.precio}} </h2>
            <button  class=" btn btn-outline-success col-md-12 col-lg-12 col-sm-12" routerLink="/carrito/{{ producto.id }}">
            <i class="fas fa-cart-plus"></i>  Agregar carrito
            </button>


          </div>
        </div>


      </div>



    </div>

  </div>


