<h2 >Productos disponibles</h2>

<!--  1- poner mas imágenes y que cambien por otra cuando pasa el mouse -->
<!--  2- acomodar las imagenes para que queden ajustadas a la tarjeta -->
<!--  3- arreglar los botones de comprar y que se carguen al carrito  -->
<!--  4- arreglar los botones de guardar en fav y que se guarden en narnia  -->
<!--  5- poner la descripción  a las fotos, o un desplegable -->

<div class="row">
  <div class="container">
    <div class="row row-cols-4">

      <div class="col">
        <div class="card">
          <img src="../../../assets/DRACAENAPALODEAGUA1.jpg" class="img" alt="palo de agua">
          <div class="card-body">
            <h5 class="card-title">Palo de agua</h5>
            <h6 class="card-subtitle mb-2 text-muted">Interior/exterior</h6>
            <a href="#" class="card-link">Comprar</a>
            <a href="#" class="card-link">Guardar en favoritos</a> 
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="../../../assets/FICUSBENJAMINA2.webp" class="img" alt="ficus ">
          <div class="card-body">
            <h5 class="card-title">Ficus</h5>
            <h6 class="card-subtitle mb-2 text-muted">Interior/exterior</h6>
            <p class="card-text">Descripcion</p>
            <a href="#" class="card-link">Comprar</a>
            <a href="#" class="card-link">Guardar en favoritos</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="../../../assets/FICUSELASTICA(GOMERO).jpg" class="img" alt="gomero ">
          <div class="card-body">
            <h5 class="card-title">Gomero</h5>
            <h6 class="card-subtitle mb-2 text-muted">Interior/exterior</h6>
            <p class="card-text">Descripcion</p>
            <a href="#" class="card-link">Comprar</a>
            <a href="#" class="card-link">Guardar en favoritos</a>
          </div>
        </div>
      </div>

        <div class="col">
          <div class="card">
            <img src="../../../assets/LAZODEAMOR.jpg" class="img" alt="Lazo de amor ">
            <div class="card-body">
              <h5 class="card-title">Lazo de amor</h5>
              <h6 class="card-subtitle mb-2 text-muted">Interior/exterior</h6>
              <p class="card-text">Descripcion</p>
              <a href="#" class="card-link">Comprar</a>
              <a href="#" class="card-link">Guardar en favoritos</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/SANSEVIERIA3.jpg" class="img" alt="Sansevieria ">
            <div class="card-body">
              <h5 class="card-title">Sansevieria</h5>
              <h6 class="card-subtitle mb-2 text-muted">Interior/exterior</h6>
              <p class="card-text">Descripcion</p>
              <a href="#" class="card-link">Comprar</a>
              <a href="#" class="card-link">Guardar en favoritos</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/POTUS.jpg" class="img" alt="Potus ">
            <div class="card-body">
              <h5 class="card-title">Potus</h5>
              <h6 class="card-subtitle mb-2 text-muted">Interior/exterior</h6>
              <p class="card-text">Descripcion</p>
              <a href="#" class="card-link">Comprar</a>
              <a href="#" class="card-link">Guardar en favoritos</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../assets/MONSTERA1.jpg" class="img" alt="Monstera ">
            <div class="card-body">
              <h5 class="card-title">Monstera Deliciosa</h5>
              <h6 class="card-subtitle mb-2 text-muted">Interior/exterior</h6>
              <p class="card-text">Descripcion</p>
              <a href="#" class="card-link">Comprar</a>
              <a href="#" class="card-link">Guardar en favoritos</a>
            </div>
          </div>
        </div>
    <div>
      <a class="btn btn-primary" href="../cart/cart.component.html" role="button">Ir al carrito</a>
      </div>
      </div>
    </div>
  </div>