.profile-img{
  max-width: 150px;
  max-height: 150px;
  border: 1px solid gainsboro;
  border-radius: 50%;
}

.container{
  padding-top: 50px;
  padding-bottom: 200px;
}

.table{
  width: 100%;
  border-collapse: collapse;
}

.table tr td{
  padding: 15px 10px;
  border: 0.5px solid gainsboro ;
}


.card-style{
  padding-bottom: 50px;
}

.btn{
  text-align: center;
  width: 100%;
}
