<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-12">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../../../../assets/logo_devplant.png"
                    style="width: 250px;" alt="logo">
                </div>

                <form style="padding-top: 100px; " [formGroup] ="form">  <!-- formGroup para conectar a las funciones del pages.module.ts--no funciona el placeholder-->
                  <p>Ingresá a tu cuenta</p>

                  <div class="form-outline mb-4">
                    <label class="form-label" style="font-style: italic; font-size: small;" for="username">Usuario</label><br>
                    <!-- ponemos formcontrolname en el input -->
                    <input formControlName="username" type="text" id="username"  class="validate" placeholder="usuario"  />
                     
                   <!-- ponemos etiqueta que pida usuario y contraseña correcta con ngif Y PEDIMOS QUE NO SE MUESTRE el mensaje si no fue "tocado" el sector-->
                    <div  *ngIf="GetForm['username'].errors && (GetForm['username'].dirty ||GetForm['username'].touched )"  class="error-message">
                      <label style="font-size: 10px;">Por favor ingrese un usuario válido</label>
                    </div>
                  </div>
                 

                  <div class="form-outline mb-4">
                    <label class="form-label" style="font-style: italic; font-size: small;" for="password">Contraseña</label> <br>
                    <!-- ponemos formcontrolname en el input---no funciona el placeholder -->
                    <input formControlName="password" type="text" id="password" class="validate" placeholder="contraseña" />
                    
                      
                      <!-- ponemos etiqueta que pida usuario y contraseña correcta con ngif-->
                      <div  *ngIf="GetForm['password'].errors && (GetForm['password'].dirty ||GetForm['password'].touched )"  class="error-message">
                        <label style="font-size: 10px;" >Por favor ingrese una contraseña válida</label>
                      </div> 
                  </div>
                  

                  <div class="text-center pt-1 mb-5 pb-1">
                    <!-- con disabled deshabilitamos el boton de ingresar hasta que no esten correctos los datos -->
                    <button  [disabled]="GetForm['username'].errors ||GetForm['password'].errors " (click)="logIn"  type="button" 
                    class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" style="font-size: 20px;" routerLink="/home" >Ingresar</button>
                    <br>
                    <a class="text-muted" routerLink="/resetPassword">Olvidaste tu contraseña?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">No tenés cuenta?</p>
                    <!-- agregue routerLink en boton a pagina de registro -->
                    <button  type="button"  class="btn btn-outline-danger" routerLink="/CheckIn">Crear cuenta</button>
                  </div>

                </form>

              </div>
            </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
