
<div class="boostrap-wrapper">
  <div class="cointainer">
    <div class="row " style="margin-top : 30px;"  >
      <div class="col-md-6 offset-md-3" style="  border-radius: 10px; margin-bottom: 50px;">
        <mat-card style="padding-top: 50px; padding-bottom: 25px;">
        <div class="container text-center" >
          <img src="../../../../assets/plantaicono.png" style="width: 100px;" alt="">
        </div>
        <h1 class="text-center"> Registrate Aqui</h1>

        <form (ngSubmit)="formSubmit()">

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Nombre de usuario</mat-label>
            <!-- required es un campo requerido -->
            <input matInput required [(ngModel)] = "user.username" name = "username" placeholder="Digite nombre de usuario"/>
            <mat-hint>El nombre de usuario debe ser unico</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Contraseña</mat-label>
            <input type="password" matInput required [(ngModel)] = "user.password" name = "password" placeholder="Digite contraseña"/>
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Email</mat-label>
            <input matInput required [(ngModel)] = "user.email" name = "email" placeholder="Digite username"/>
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Nombre </mat-label>
            <input matInput [(ngModel)] = "user.nombre" name = "nombre" placeholder="Digite su nombre"/>
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Apellido</mat-label>
            <input matInput [(ngModel)] = "user.apellido" name = "apellido" placeholder="Digite su apellido"/>
          </mat-form-field>


          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput type="date"  [(ngModel)] = "user.nacimiento" name = "nacimiento" placeholder="Digite username"/>
          </mat-form-field>



          <div class="container text-center">
            <!-- Boton submit -->
            <button type="submit" mat-raised-button color="primary">Registrar</button>
            <!-- Reset sirve para limpiar los campos -->
            <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
          </div>

        </form>
        <br><br><br>
      </mat-card>
      </div>

    </div>
  </div>
</div>

