<div class="container30">
  <div class="d-flex justify-content-center">
    <div class="row form3">
      <div class="abs-center">
        <form action="" >
        <div class="form-grup">
          <div><img class="form-img" src="../../../../assets/logo_devplant.png" alt="logo-devplant"></div>

          <label class="label" for="Nombre">Nombre:</label>
          <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Ingrese su nombre" />
        </div>
        <div class="form-grup">
          <label class="label" for="lname">Apellido:</label>
          <input type="text" class="form-control" id="Apellido" name="Apellido" placeholder="Ingrese su apellido" />
        </div>
        <div class="form-grup2">
          <label class="label" for="Email">Email:</label>
          <input type="text" class="form-control" id="Email" name="Email" placeholder="fulanito@example.com"  />
        </div>
        <div class="form-grup3">
          <label class="label" for="Tu Consulta">Consulta</label>
          <textarea  name="Consulta" id="Consulta" class="form-control form-control3" placeholder="Escribe tu mensaje"
            style="height: 170px; padding: 5px 0 0 10px; color: rgb(0, 0, 0);"></textarea>
        </div>

        <div class="botones">
          <div id="error" class="error"> </div> <!-- Div de mensaje de alerta sin formato, la clase es botones. -->
        </div>

        <button class="submit" type="submit" class="btn btn-success">Enviar</button>

        </form>
      </div>
    </div>
  </div>
</div>

