<!--  GALERIA DE FOTOS  -->

<div id="galeria" class="container">
  <div class="row">




      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card" style="width: 100%;">
            <a href="https://www.youtube.com/watch?v=UrQEakKZ7F4&ab_channel=Felipe%2Celbi%C3%B3logodelasplantas" target="_blank"><img class="card-img-top"  src="../../../../assets/planta1.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Anglaonema: Es un género de 20 especies de plantas de flores perteneciente a la familia Araceae, nativo de las selvas tropicales húmedas del sudoeste de Asia desde Bangladés a Filipinas y norte y sur de China.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card" style="width: 100%;">
            <a href="https://www.youtube.com/watch?v=RBpLx5K_BTU&ab_channel=Habitanica" target="_blank"><img class="card-img-top" src="../../../../assets/planta2.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Heleche Asplenium: Es un género de helechos, comúnmente tratados como único género de la familia de las Aspleniaceae, aunque algunas especies son ocasionalmente segregadas en sus propios géneros.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="card" style="width: 100%;">
            <a href="https://www.youtube.com/watch?v=e944qjU3cBs&ab_channel=Habitanica" target="_blank"><img class="card-img-top" src="../../../../assets/planta3.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Monastera Deliciosa: llamada comúnmente cerimán o costilla de Adán, es una especie de planta trepadora de la familia Araceae, endémica de selvas tropicales, que se distribuye desde el centro y sur de México hasta el norte de Argentina</p>
          </div>
        </div>
      </div>



  </div>
</div>

