<!-- SE AGREGA EL HEADER CON EL NAV A LA PAGINA HOME -->
<app-header></app-header>

<!--  COMPONENTE QUE VA EN EL INICIO DEL SITIO DESCIPCION DEL SITIO  -->
<div class="container">
  <div class="d-flex justify-content-start">
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12">
          <h2>¿Que podes hacer dentro de &lt;DEVPLANT&gt;?</h2>
        </div>



        <div class="col-12 col-md-12 col-sm-12">
          <p>
          Una vez que te registres como usuario, vas a poder comprar, informarte sobre los cuidados de tus plantas.
        </p>
        </div>
        <div class="col-12 col-md-12 col-sm-12">
          <h5>Conocé más sobre tus plantas</h5>
        </div>
        <app-galery></app-galery>
    </div>

  </div>


</div>


<!-- PRUEBA DE CONTACT US-->

  <app-contact-us></app-contact-us>



<!-- prueba de carrito-->

  <app-cart></app-cart>





<!-- SE LE AGREGA EL FOOTER A LA PAGINA HOME -->

<app-footer></app-footer>










