<div id="galeria" class="container">
  <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="text-center p-3 ">
        <img
          src="../../../../assets/planta3.jpg"
          id="planta1"
          alt="planta1"
          onmouseover="cambiarImagen1()"
          onmouseout="volverImagen1()"
        />
            <a href="https://www.youtube.com/watch?v=UrQEakKZ7F4&ab_channel=Felipe%2Celbi%C3%B3logodelasplantas"  target="_blank">Anglaonema: Cuidados.</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="text-center p-3 ">
        <img
          src="../../../../assets/planta1.jpg"
          id="planta3"
          alt="planta3"
          onmouseover="cambiarImagen3()"
          onmouseout="volverImagen3()"
        />
            <a href="https://www.youtube.com/watch?v=RBpLx5K_BTU" target="_blank">Heleche Asplenium: Cuidados.</a>
        </div>
      </div>


      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="text-center p-3 ">
        <img
          src="../../../../assets/planta2.jpg"
          id="planta2"
          alt="planta2"
          onmouseover="cambiarImagen2()"
          onmouseout="volverImagen2()"
        />
          <a href="http://www.youtube.com/watch?v=_eN6DcegGWM" target="_blank">Monastera Deliciosa: Cuidados.</a>
        </div>
      </div>
  </div>
</div>
