
       <h3>Carrito de Compras</h3>
       <table class="table table-primary table-striped">
         <thead>
           <tr>
             <th>Nombre</th>
             <th>Cantidad</th>
             <th>Precio</th>
           </tr>
         </thead>
         <tbody>
          
           <tr>
             <td>Palo de agua</td>
             <td>1</td>
             <td>$1000</td>
           </tr>
           
         </tbody>
       </table>
       
       <div class="text-end">
              <button type="button" class="btn btn-info">Comprar</button>
       </div>

