<div class="container">
  <div class="row">
    <mat-card class="card">
      <h1 class="text-center">Detalles del perfil</h1>
      <mat-card-content>
        <div class="bootstrap-wrapper">
          <div class="container">
            <div class="text-center">
              <img
                src="../../../../assets/planta1.jpg"
                alt=""
                class="profile-img"
              />
              <br />
              <br />
              <div class="mt20">
                <h2>{{ user.nombre }} {{ user.apellido }}</h2>
              </div>
            </div>
            <br />
            <br />

            <div class="col-md-10 offset-md-1">
              <table class="table text-center">
                <tr>
                  <td>Nombre usuario</td>
                  <td>{{ user.username }}</td>
                </tr>
                <tr>
                  <td>Id</td>
                  <td>{{ user.id }}</td>
                </tr>
                <tr>
                  <td>Telefono</td>
                  <td>{{ user.telefono }}</td>
                </tr>
                <tr>
                  <td>Rol</td>
                  <td>{{ user.authorities[0].authority }}</td>
                </tr>
                <tr>
                  <td>Estado</td>
                  <td>{{ user.enabled ? "Activo" : "No activo" }}</td>
                </tr>
              </table>
              <!--
            <mat-card-actions class = "text-center">
            <button mat-raised-button color="primary">Actualizar</button>
            <button mat-raised-button color="accent">Compartir</button>
          </mat-card-actions>
          -->
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
