

div.row{
  margin-right: 0px;
}

div.container-fluid{
  padding-right: 20px;

}


.header {
    width: 100%;
    height: 550px;
    padding-top: 15px;
    background-color: #6b8e23;
    opacity: 60%;
   /* background-image: url("../../../../assets/flores.jpg");*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }


.vivero {
  width: 96%;
  font-size: 26px;
  text-align: right;
  color: #ffffff;

  margin-top: 8.5rem;
  margin-right: 3.5rem;
}

.devplant {
  width: 96%;

  font-size: 60px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;

  margin-top: 3rem;
  margin-right: 3.5rem;
}

.tips {
  width: 96%;

  font-size: 1.7rem;
  text-align: right;
  color: #ffffff;

  margin-top: 3rem;
  margin-right: 3.5rem;
  margin-bottom: 0.2rem;
}

.logo{
  padding-bottom: 5px;
}


